<h1>this is user prifile</h1>
<!-- interpolation ya ts ki value ko inject karna -->
<!-- <h4>Name- {{ name | titlecase }} Status-{{ status }} salary-{{ salary }}</h4> -->
<!-- pipes -->
<h4>Name- {{ name | uppercase }} Status-{{ status }} salary-{{ salary |currency:"INR" }}</h4>

<h2>{{phoneNo | countryCode:"USA"}}</h2>
<!-- proerty bindling -->
<!-- <button disabled="true">Click Me</button> -->
<!-- inject -->
<button [disabled]="isBtnDisabled">Click Me</button>

<!-- event bindling -->
<h1>input value:{{ inputValue }}</h1>
<!-- ab communication 2 way ho rha h h1 me frresect ho rha h kyoki  ts e h1 h1 se ts dono me data transfer ho rha h -->
<!-- <input type="text" [value]="inputValue" (input)="onChange($event)"> -->
<!-- short hand is input ka iske liye forms module dependency impor karmi  hogi ise banana in the box bhi bolte hai.-->
<input type="text" [(ngModel)]="inputValue" />

<!-- new anguler 17  control flow syntex iske liye koi dipendency  import nhinkrni hogi-->
<!-- control flow syntex -->
<div>
  @for(user of users;track user.name){ @if(user.salary>20000){
  <h4>
    Name- {{ user.name }} Status-{{
      user.isSingle ? "single" : "Coder"
    }}
    salary-{{ user.salary }}
  </h4>
  } @else {
  <h4>
    Name- {{ user.name }} Status-{{
      user.isSingle ? "single" : "Coder"
    }}
    salary-hidden
  </h4>

  } }
</div>

<!--  old directive syntex dependies import karni hogi  elemt me lagan hota hai.-->
<!--  ye structul directive h  ye * se start hote hai. ng model attribultedirective  hai.-->
<hr />
<div *ngFor="let user of users">
  <h4 *ngIf="user.salary>50000; else elseBlock">
    Name- {{ user.name }} Status-{{
      user.isSingle ? "single" : "Coder"
    }}
    salary-{{ user.salary }}
  </h4>
  <ng-template #elseBlock>
    <h4>
        Name- {{ user.name }} Status-{{
          user.isSingle ? "single" : "Coder"
        }}
        salary-hidden
      </h4>
  </ng-template>
</div>



<h1>User-{{name}}- status-{{status?"single":"coder"}} -salary-{{salary}}</h1>
<button (click)="sendData()">Send Data</button>